<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sinodata.mapper.EnterpriseFilePdfMapper" >
    <resultMap id="BaseResultMap" type="cn.net.sinodata.model.EnterpriseFilePdf" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR" />
        <result column="BUSINESS_LICENSE_COPY" property="businessLicenseCopy" jdbcType="VARCHAR" />
        <result column="INTELLECTUAL_PROPERTY" property="intellectualProperty" jdbcType="VARCHAR" />
        <result column="FINANCIAL_AUDIT_REPORT" property="financialAuditReport" jdbcType="VARCHAR" />
        <result column="INSTRUCTION_MANUAL" property="instructionManual" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="selectSql">
        ID,
        ENTERPRISE_ID,
        BUSINESS_LICENSE_COPY,
        INTELLECTUAL_PROPERTY,
        FINANCIAL_AUDIT_REPORT,
        INSTRUCTION_MANUAL,
        CREATE_DATE,
        UPDATE_DATE
    </sql>

    <select id="selectByEnterpriseId" resultMap="BaseResultMap">
        SELECT
        <include refid="selectSql" />
        FROM enterprise_file_pdf
        WHERE
        ENTERPRISE_ID = #{value}
    </select>

    <insert id="insert" parameterType="cn.net.sinodata.model.EnterpriseFilePdf">
        INSERT INTO enterprise_file_pdf
            (
                ID,
                ENTERPRISE_ID,
                BUSINESS_LICENSE_COPY,
                INTELLECTUAL_PROPERTY,
                FINANCIAL_AUDIT_REPORT,
                INSTRUCTION_MANUAL,
                CREATE_DATE,
                UPDATE_DATE
            )
        VALUES
	        (
	            #{id},
	            #{enterpriseId},
                #{businessLicenseCopy},
                #{intellectualProperty},
                #{financialAuditReport},
                #{instructionManual},
                #{createDate},
                #{updateDate}
	        )
    </insert>

    <update id="update" parameterType="cn.net.sinodata.model.EnterpriseFilePdf">
        UPDATE
            enterprise_file_pdf
        SET
            <if test="businessLicenseCopy != '' and businessLicenseCopy != null">
                BUSINESS_LICENSE_COPY = #{businessLicenseCopy},
            </if>
            <if test="intellectualProperty != '' and intellectualProperty != null">
                INTELLECTUAL_PROPERTY = #{intellectualProperty},
            </if>
            <if test="financialAuditReport != '' and financialAuditReport != null">
                FINANCIAL_AUDIT_REPORT = #{financialAuditReport},
            </if>
            <if test="instructionManual != '' and instructionManual != null">
                INSTRUCTION_MANUAL = #{instructionManual},
            </if>
            UPDATE_DATE = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="deleteByEnterpriseId" parameterType="java.lang.String">
        DELETE FROM enterprise_file_pdf WHERE ENTERPRISE_ID = #{value};
    </delete>
</mapper>